.nav {
    background-color: #8bbee2;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.nav > div:nth-child(1) > a {
    /* border: 1px solid red; */
    display: flex;
    text-decoration: none;

}

.nav > div:nth-child(1) > a > img {
    width: 55px;
    height: 83.155px;
    flex-shrink: 0;
    margin: 10px 0 7px 27px;
}

.nav > div:nth-child(1) > a > p {
    color: #484297;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav > div:nth-child(2) {
    /* border: 1px solid royalblue; */
    padding-top: 49px;
} 

.nav > div:nth-child(2) > input {
    width: 252px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    outline: none;
    padding: 10px;
    color: #6D6D6D;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.loginContainer {
    /* border: 1px solid yellow; */
    margin: 15px 10px;
}

.profileContainer {
    /* margin-left: 100px; */
}

.signInContainer {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.signInContainer > img {
    /* border: 5px solid red; */
}

.icon {
    color: black;
    border: 3px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: -20px;
    padding-top: 3px;
}

.userImg {
    /* border: 3px solid black; */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: -20px;
}

.signInContainer > p:nth-child(2) {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
}

.logoutContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: 33px;
}

.logoutContainer img {
    width: 38.658px;
    height: 40px;
    flex-shrink: 0;
    stroke-width: 4px;
    stroke: #000;
}

.logoutContainer p {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 7px;
}
